<!--<p>
  device-edit works!
</p>-->
<div class="row">
  <div class="col-xs-12">
    <form>
      <div class="row">
        <div class="col-sm-5 form-group">
          <label for="name">Hostname:</label>
          <input type="text" id="name" class="form-control">
        </div>
        <div class="col-sm-2 form-group">
          <label for="loopback">Loopback:</label>
          <input type="text" id="loopback" class="form-control">
        </div>
        <div class="col-sm-5">
        <button class="btn btn-success buttonAdd" type="submit">Add</button>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">

          <button class="btn btn-danger" type="submit">Delete</button>
          <button class="btn btn-primary" type="submit">Clear</button>
        </div>
      </div>
    </form>
  </div>
</div>
